<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hrm.system.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.hrm.model.system.entity.User">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="enable_state" jdbcType="INTEGER" property="enableState"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="department_id" jdbcType="VARCHAR" property="departmentId"/>
        <result column="time_of_entry" jdbcType="TIMESTAMP" property="timeOfEntry"/>
        <result column="form_of_employment" jdbcType="INTEGER" property="formOfEmployment"/>
        <result column="work_number" jdbcType="VARCHAR" property="workNumber"/>
        <result column="form_of_management" jdbcType="VARCHAR" property="formOfManagement"/>
        <result column="working_city" jdbcType="VARCHAR" property="workingCity"/>
        <result column="correction_time" jdbcType="TIMESTAMP" property="correctionTime"/>
        <result column="in_service_status" jdbcType="INTEGER" property="inServiceStatus"/>
        <result column="company_id" jdbcType="VARCHAR" property="companyId"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="department_name" jdbcType="VARCHAR" property="departmentName"/>
        <result column="level" jdbcType="VARCHAR" property="level"/>
        <result column="staff_photo" jdbcType="LONGVARCHAR" property="staffPhoto"/>
        <collection property="roles" ofType="com.hrm.model.system.entity.Role">
            <id column="roleId" jdbcType="VARCHAR" property="id"/>
            <result column="name" jdbcType="VARCHAR" property="name"/>
            <result column="description" jdbcType="VARCHAR" property="description"/>
            <result column="company_id" jdbcType="VARCHAR" property="companyId"/>
        </collection>
        <collection property="roleIds" ofType="String">
            <result column="roleId" jdbcType="VARCHAR" property="roleId" />
        </collection>
    </resultMap>
    <insert id="insert" parameterType="com.hrm.model.system.entity.User">
        insert into pe_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="mobile != null">
                mobile,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="enableState != null">
                enable_state,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="departmentId != null">
                department_id,
            </if>
            <if test="timeOfEntry != null">
                time_of_entry,
            </if>
            <if test="formOfEmployment != null">
                form_of_employment,
            </if>
            <if test="workNumber != null">
                work_number,
            </if>
            <if test="formOfManagement != null">
                form_of_management,
            </if>
            <if test="workingCity != null">
                working_city,
            </if>
            <if test="correctionTime != null">
                correction_time,
            </if>
            <if test="inServiceStatus != null">
                in_service_status,
            </if>
            <if test="companyId != null">
                company_id,
            </if>
            <if test="companyName != null">
                company_name,
            </if>
            <if test="departmentName != null">
                department_name,
            </if>
            <if test="level != null">
                level,
            </if>
            <if test="staffPhoto != null">
                staff_photo,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="enableState != null">
                #{enableState,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="departmentId != null">
                #{departmentId,jdbcType=VARCHAR},
            </if>
            <if test="timeOfEntry != null">
                #{timeOfEntry,jdbcType=TIMESTAMP},
            </if>
            <if test="formOfEmployment != null">
                #{formOfEmployment,jdbcType=INTEGER},
            </if>
            <if test="workNumber != null">
                #{workNumber,jdbcType=VARCHAR},
            </if>
            <if test="formOfManagement != null">
                #{formOfManagement,jdbcType=VARCHAR},
            </if>
            <if test="workingCity != null">
                #{workingCity,jdbcType=VARCHAR},
            </if>
            <if test="correctionTime != null">
                #{correctionTime,jdbcType=TIMESTAMP},
            </if>
            <if test="inServiceStatus != null">
                #{inServiceStatus,jdbcType=INTEGER},
            </if>
            <if test="companyId != null">
                #{companyId,jdbcType=VARCHAR},
            </if>
            <if test="companyName != null">
                #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="departmentName != null">
                #{departmentName,jdbcType=VARCHAR},
            </if>
            <if test="level != null">
                #{level,jdbcType=VARCHAR},
            </if>
            <if test="staffPhoto != null">
                #{staff_photo,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <delete id="deleteById" parameterType="java.lang.String">
    delete from pe_user
    where id = #{id,jdbcType=VARCHAR}
    </delete>
    <update id="update" parameterType="com.hrm.model.system.entity.User">
        update pe_user
        <set>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="enableState != null">
                enable_state = #{enableState,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="departmentId != null">
                department_id = #{departmentId,jdbcType=VARCHAR},
            </if>
            <if test="timeOfEntry != null">
                time_of_entry = #{timeOfEntry,jdbcType=TIMESTAMP},
            </if>
            <if test="formOfEmployment != null">
                form_of_employment = #{formOfEmployment,jdbcType=INTEGER},
            </if>
            <if test="workNumber != null">
                work_number = #{workNumber,jdbcType=VARCHAR},
            </if>
            <if test="formOfManagement != null">
                form_of_management = #{formOfManagement,jdbcType=VARCHAR},
            </if>
            <if test="workingCity != null">
                working_city = #{workingCity,jdbcType=VARCHAR},
            </if>
            <if test="correctionTime != null">
                correction_time = #{correctionTime,jdbcType=TIMESTAMP},
            </if>
            <if test="inServiceStatus != null">
                in_service_status = #{inServiceStatus,jdbcType=INTEGER},
            </if>
            <if test="companyId != null">
                company_id = #{companyId,jdbcType=VARCHAR},
            </if>
            <if test="companyName != null">
                company_name = #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="departmentName != null">
                department_name = #{departmentName,jdbcType=VARCHAR},
            </if>
            <if test="level != null">
                level = #{level,jdbcType=VARCHAR},
            </if>
            <if test="staffPhoto != null">
                staff_photo = #{staffPhoto,jdbcType=LONGVARCHAR},
            </if>

        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        pu.id, pu.mobile, pu.username, pu.password,  pu.enable_state, pu.create_time, pu.department_id, pu.time_of_entry, pu.form_of_employment, pu.work_number, pu.form_of_management, pu.working_city, pu.correction_time, pu.in_service_status, pu.company_id, pu.company_name, pu.department_name, pu.level,pu.staff_photo, pur.role_id, pur.user_id, pr.id as roleId, pr.name, pr.description, pr.company_id
        from pe_user pu
        left join pe_user_role pur on pu.id = pur.user_id
        left join pe_role  pr on pur.role_id=pr.id
        where pu.id = #{id,jdbcType=VARCHAR}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        pu.id, pu.mobile, pu.username, pu.password,  pu.enable_state, pu.create_time, pu.department_id, pu.time_of_entry, pu.form_of_employment, pu.work_number, pu.form_of_management, pu.working_city, pu.correction_time, pu.in_service_status, pu.company_id, pu.company_name, pu.department_name, pu.level,pu.staff_photo, pur.role_id, pur.user_id, pr.id as roleId, pr.name, pr.description, pr.company_id
        from pe_user pu
        left join pe_user_role pur on pu.id = pur.user_id
        left join pe_role  pr on pur.role_id=pr.id
        where company_id=#{companyId}
    </select>
    <select id="selectAllPage" resultMap="BaseResultMap">
        select
        pu.id, pu.mobile, pu.username, pu.password,  pu.enable_state, pu.create_time, pu.department_id, pu.time_of_entry, pu.form_of_employment, pu.work_number, pu.form_of_management, pu.working_city, pu.correction_time, pu.in_service_status, pu.company_id, pu.company_name, pu.department_name, pu.level,pu.staff_photo, pur.role_id, pur.user_id, pr.id as roleId, pr.name, pr.description, pr.company_id
        from pe_user pu
        left join pe_user_role pur on pu.id = pur.user_id
        left join pe_role  pr on pur.role_id=pr.id
        limit #{pageMin},#{pageMax}
    </select>
    <select id="count" resultType="int">
        select COUNT(id) from pe_user
    </select>
</mapper>