<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrm.company.mapper.DepartmentMapper">
    <resultMap id="BaseResultMap" type="com.hrm.model.company.entity.Department">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="company_id" jdbcType="VARCHAR" property="companyId" />
        <result column="pid" jdbcType="VARCHAR" property="pid" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="code" jdbcType="VARCHAR" property="code" />
        <result column="manager" jdbcType="VARCHAR" property="manager" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="manager_id" jdbcType="VARCHAR" property="managerId" />
    </resultMap>
    <select id="findById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        id, company_id, pid, name, code, manager, introduce, create_time, manager_id
        from co_department
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <select id="findAll" resultMap="BaseResultMap">
        select
        id, company_id, pid, name, code, manager, introduce, create_time, manager_id
        from co_department
        where company_id=#{companyId}
    </select>
    <delete id="deleteById" parameterType="java.lang.String">
    delete from co_department
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.hrm.model.company.entity.Department">
    insert into co_department (id, company_id, pid,
      name, code, manager,
      create_time, manager_id, introduce
      )
    values (#{id,jdbcType=VARCHAR}, #{companyId,jdbcType=VARCHAR}, #{pid,jdbcType=VARCHAR},
      #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{manager,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP}, #{managerId,jdbcType=VARCHAR}, #{introduce,jdbcType=LONGVARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.hrm.model.company.entity.Department">
        insert into co_department
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="companyId != null">
                company_id,
            </if>
            <if test="pid != null">
                pid,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="manager != null">
                manager,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="managerId != null">
                manager_id,
            </if>
            <if test="introduce != null">
                introduce,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="companyId != null">
                #{companyId,jdbcType=VARCHAR},
            </if>
            <if test="pid != null">
                #{pid,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="manager != null">
                #{manager,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="managerId != null">
                #{managerId,jdbcType=VARCHAR},
            </if>
            <if test="introduce != null">
                #{introduce,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hrm.model.company.entity.Department">
        update co_department
        <set>
            <if test="companyId != null">
                company_id = #{companyId,jdbcType=VARCHAR},
            </if>
            <if test="pid != null and pid!=''">
                pid = #{pid,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="manager != null">
                manager = #{manager,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="managerId != null">
                manager_id = #{managerId,jdbcType=VARCHAR},
            </if>
            <if test="introduce != null">
                introduce = #{introduce,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.hrm.model.company.entity.Department">
   update co_department
    set company_id = #{companyId,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      manager = #{manager,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      manager_id = #{managerId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>