<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrm.system.autoMapper.PermissionMenuMapper">
  <resultMap id="BaseResultMap" type="com.hrm.system.entity.PePermissionMenu">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="menu_icon" jdbcType="VARCHAR" property="menuIcon" />
    <result column="menu_order" jdbcType="VARCHAR" property="menuOrder" />
  </resultMap>
  <sql id="Base_Column_List">
    id, menu_icon, menu_order
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pe_permission_menu
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from pe_permission_menu
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hrm.system.entity.PePermissionMenu">
    insert into pe_permission_menu (id, menu_icon, menu_order
      )
    values (#{id,jdbcType=VARCHAR}, #{menuIcon,jdbcType=VARCHAR}, #{menuOrder,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hrm.system.entity.PePermissionMenu">
    insert into pe_permission_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="menuIcon != null">
        menu_icon,
      </if>
      <if test="menuOrder != null">
        menu_order,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="menuIcon != null">
        #{menuIcon,jdbcType=VARCHAR},
      </if>
      <if test="menuOrder != null">
        #{menuOrder,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hrm.system.entity.PePermissionMenu">
    update pe_permission_menu
    <set>
      <if test="menuIcon != null">
        menu_icon = #{menuIcon,jdbcType=VARCHAR},
      </if>
      <if test="menuOrder != null">
        menu_order = #{menuOrder,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hrm.system.entity.PePermissionMenu">
    update pe_permission_menu
    set menu_icon = #{menuIcon,jdbcType=VARCHAR},
      menu_order = #{menuOrder,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>